.App {
  background-color: #FFF770;
}

.App-inner {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  width: 40vmin;
  pointer-events: none;
}

.burner {
  max-height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto
}
